### Задание 2
Написать программу, которая вычисляет площадь фигуры, параметры которой подаются на вход. Фигуры, которые подаются на вход: треугольник, прямоугольник, круг. Результатом работы является словарь, где ключ – это название фигуры, а значение – это площадь.

In [1]:
from math import pi, sqrt

def calc_area(*args):
    match len(args):
        case 1:
            r = args[0]
            return {"Circle": r**2 * pi}
        case 2:
            a, b = args[0:2]
            return {"Rectangle": a * b}
        case 3:
            a, b, c = args[0:3]
            p = (a + b + c) / 2
            return {"Triangle": sqrt(p * (p - a) * (p - b) * (p - c))}
        case _:
            print("Error: unexpected input")
            return

In [2]:
calc_area(1)

{'Circle': 3.141592653589793}

In [3]:
calc_area(5, 5)

{'Rectangle': 25}

In [4]:
calc_area(3, 4, 5)

{'Triangle': 6.0}

### Задание 3
Написать программу, которая на вход получает два числа и операцию, которую к ним нужно применить. Должны быть реализованы следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в степень.

In [5]:
def calc(a, b, op):
    match op:
        case "+":
            return a + b
        case "-":
            return a - b
        case "*" | "x":
            return a * b
        case "/":
            return a / b
        case "//":
            return a // b
        case "abs":
            return abs(a)
        case "pow" | "**":
            return a**b
        case _:
            print("Error: unexpected input")
            return

In [6]:
calc(2, 2, '+')

4

In [7]:
calc(4, 2, '-')

2

In [8]:
calc(3, 4, '*')

12

### Задание 4
Напишите программу, которая считывает с консоли числа (по одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и после этого выводит сумму квадратов всех считанных чисел.

In [9]:
def addtilnil(nums: list):
    sum1, sum2 = 0, 0
    while (True):
        num = nums.pop(0)
        sum1 += num
        sum2 += num**2
        if sum1 == 0:
            break
    return sum2

In [10]:
# Sum        ...  12   3  -5   1  -1   0 <--
# Square sum ...  66 147 211 247 251 252 261 310 346 347 411
addtilnil([1,  4,  7, -9, -8,  6, -2,  1,  3,  7,  6,  1,  8])

252

### Задание 5
Напишите программу, которая выводит последовательность чисел, длинною N, где каждое число повторяется столько раз, чему оно равно. На вход программе передаётся неотрицательное целое число N. Например, если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка через пробел – print(*list).

In [11]:
def printnumcount(N):
    curr = 0
    count = 0
    res = list()
    for _ in range(N):
        if count >= curr:
            curr += 1
            count = 0
        res.append(curr)
        count += 1
    return res

In [12]:
res = printnumcount(7)
print(*res)

1 2 2 3 3 3 4

In [13]:
res = printnumcount(55)
print(*res)

1 2 2 3 3 3 4 4 4 4 5 5 5 5 5 6 6 6 6 6 6 7 7 7 7 7 7 7 8 8 8 8 8 8 8 8 9 9 9 9 9 9 9 9 9 10 10 10 10 10 10 10 10 10 10

### Задание 6
Даны два списка:
```
А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
```
Создать словарь, в котором ключи – это содержимое списка В, а значения для ключей словаря – это сумма всех элементов списка А в соответствии с буквой, содержащийся на той же позиции в списке В. Пример результата программы: {'a' : 10, 'b' : 15, 'c' : 6}.

In [14]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

res = {'a': 0, 'b': 0, 'c': 0}
for i in range(len(A)):
    res[B[i]] += A[i]
print(res)

{'a': 17, 'b': 11, 'c': 17}

### Задание 7
Скачать и загрузить данные о стоимости домов в калифорнии, используя библиотеку `sklearn`.

In [15]:
import numpy as np
import pandas as pd

from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
df = data['frame']

### Задание 8
Использовать метод `info()`.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

### Задание 9
Узнать, есть ли пропущенные значения, используя `isna().sum()`.

In [17]:
df.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

### Задание 10
Вывести записи, где средний возраст домов в районе более 50 лет и население более 2500 человек, используя метод `loc()`.

In [18]:
df.loc[(df['HouseAge'] >= 50) & (df['Population'] >= 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
4968,1.8656,50.0,3.377922,1.031169,3080.0,4.000000,34.01,-118.28,1.22900
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300
20225,2.3669,50.0,3.994891,1.053640,2535.0,3.237548,34.29,-119.30,1.65300

### Задание 11
Узнать максимальное и минимальное значения медианной стоимости дома.

In [19]:
print(df.MedHouseVal.max(), df.MedHouseVal.min())

5.00001 0.14999

### Задание 12
Используя метод apply(), вывести на экран название признака и его среднее значение.

In [20]:
df.apply(np.mean)

MedInc            3.870671
HouseAge         28.639486
AveRooms          5.429000
AveBedrms         1.096675
Population     1425.476744
AveOccup          3.070655
Latitude         35.631861
Longitude      -119.569704
MedHouseVal       2.068558
dtype: float64

### Доп. задание 1*
Дан текст на английском языке. Необходимо закодировать его с помощью азбуки Морзе, где каждой букве соответствует последовательность точек и тире.

In [21]:
MORSE_CODE_DICT = {
    'A':'.-', 'B':'-...', 'C':'-.-.', 'D':'-..', 'E':'.',
    'F':'..-.', 'G':'--.', 'H':'....', 'I':'..', 'J':'.---',
    'K':'-.-', 'L':'.-..', 'M':'--', 'N':'-.', 'O':'---',
    'P':'.--.', 'Q':'--.-', 'R':'.-.', 'S':'...', 'T':'-',
    'U':'..-', 'V':'...-', 'W':'.--',
    'X':'-..-', 'Y':'-.--', 'Z':'--..',
    '1':'.----', '2':'..---', '3':'...--', '4':'....-', '5':'.....',
    '6':'-....', '7':'--...', '8':'---..', '9':'----.', '0':'-----',
    ', ':'--..--', '.':'.-.-.-', '?':'..--..',
    '/':'-..-.', '-':'-....-', '(':'-.--.', ')':'-.--.-'
}

def morse(text):
    res = list()
    word = list()
    for letter in text.upper():
        if letter != ' ':
            word.append(MORSE_CODE_DICT[letter])
        else:
            res.append(' '.join(word))
            word = list()
    if len(word) > 0:
        res.append(' '.join(word))
    return '\n'.join(res)

In [22]:
print(morse('Sample text'))

... .- -- .--. .-.. .
- . -..- -

In [23]:
print(morse('See them try to bring the hammer down'))

... . .
- .... . --
- .-. -.--
- ---
-... .-. .. -. --.
- .... .
.... .- -- -- . .-.
-.. --- .-- -.

### Доп. задание 2*

Если новый пользователь хочет зарегистрироваться на сайте, то он должен послать системе запрос `name` со своим именем. Система должна определить, существует ли уже такое имя в базе данных. Если такого имени не существует, то оно заносится в базу данных системы и пользователю возвращается ответ `"ОК"`, подтверждающий успешную регистрацию. А если пользователь с таким именем уже существует, то система должна сформировать новое имя и выдать его пользователю в качестве подсказки, при этом сама подсказка также добавляется в базу данных. Новое имя формируется следующим образом: к name последовательно приписываются числа, начиная с 1 (name1, name2 и так далее), и среди них находят такое наименьшее i, что namei еще не содержится в системе.

In [24]:
def register(input: list):
    names = dict()

    for name in input:
        if name not in names.keys():
            names[name] = 0
            print('OK')
        else:
            names[name] += 1
            print(f'{name}{names[name]}')

In [25]:
register(['qwerty'] * 3 + ['sampletext'] * 4 + ['qwerty'] * 2)

OK
qwerty1
qwerty2
OK
sampletext1
sampletext2
sampletext3
qwerty3
qwerty4

### Доп. задание 3*

Необходимо создать программу обработки запросов пользователей к файловой системе компьютера. Над каждым файлом можно производить следующие действия: запись – w ("write"), чтение – r ("read"), запуск – x ("execute").

Для каждого допустимого запроса программа должна возвращать `"OK"`, для недопустимого – `"Access denied"`.

In [26]:
def filequery(p: list, ops: list):
    files = dict()

    for file, *perms in p:
        files[file] = perms

    for op, file in ops:
        op = {'read': 'r', 'write': 'w', 'execute': 'x'}[op]
        print(f"{'OK' if op in files[file] else 'Access denied'}")

In [27]:
filequery(
    [['python.exe', 'x'],
     ['book.txt', 'r', 'w'],
     ['notebook.exe', 'r', 'w', 'x']],
    [['read', 'python.exe'],
     ['read', 'book.txt'],
     ['write', 'notebook.exe'],
     ['execute', 'notebook.exe'],
     ['write', 'book.txt']]
)

Access denied
OK
OK
OK
OK

In [28]:
filequery(
    [['root.html', 'r', 'w', 'x'],
     ['main.py', 'x'],
     ['login.txt', 'w', 'r']],
    [['read', 'root.html'],
     ['write', 'main.py'],
     ['execute', 'main.py'],
     ['execute', 'login.txt']]
)

OK
Access denied
OK
Access denied